<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/teacher/style.css">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <title>Teacher Panel</title>
</head>
<body>
    <h2>Teacher Panel</h2>

    <div class="upload-container">
        <!-- Student List Upload -->
        <div class="upload-box">
            <h3>Add Student List</h3>
            <label for="student_list" class="custom-file-label">
                <i class="fa-solid fa-upload"></i> Choose CSV
            </label>
            <input type="file" id="student_list" class="file-input" accept=".csv" onchange="updateFileName(this)">
            <div id="student_list_name" class="file-name">No file chosen</div>
        </div>
    
        <!-- Exam Instruction Upload -->
        <div class="upload-box">
            <h3>Add Exam Instruction</h3>
            <label for="exam_instruction" class="custom-file-label">
                <i class="fa-solid fa-upload"></i> Choose PDF
            </label>
            <input type="file" id="exam_instruction" class="file-input" accept=".pdf" onchange="updateFileName(this)">
            <div id="exam_instruction_name" class="file-name">No file chosen</div>
        </div>
    
        <!-- Assignment File Upload -->
        <div class="upload-box">
            <h3>Add Assignment File</h3>
            <label for="assignment_file" class="custom-file-label">
                <i class="fa-solid fa-upload"></i> Choose Code
            </label>
            <input type="file" id="assignment_file" class="file-input" accept=".py,.java,.c" onchange="updateFileName(this)">
            <div id="assignment_file_name" class="file-name">No file chosen</div>
        </div>
    </div>
    
    

    <button onclick="uploadAllFiles()">Tüm Dosyaları Yükle</button>

    <br><br>

    <div class="form-container">
        <div class="form-control">
            <label for="exam_time">Time:</label>
            <input type="text" id="exam_time">
        </div>
    
        <div class="form-control">
            <label for="exam_name">Exam Name:</label>
            <input type="text" id="exam_name">
        </div>
    
        <div class="form-control">
            <label for="output_directory">Output Directory:</label>
            <input type="text" id="output_directory">
        </div>
    
        <button onclick="startExam()">Start Assignment</button>
    </div>

    <script>
        /*function uploadFile(inputId, fileType) {
            let input = document.getElementById(inputId);
            let file = input.files[0];
            if (!file) {
                alert("Lütfen bir dosya seçin!");
                return;
            }

            let formData = new FormData();
            formData.append("file", file);
            formData.append("file_type", fileType);

            let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');


            fetch('/teacher/upload/', {
                method: 'POST',
                body: formData,
                headers: {
            "X-CSRFToken": csrfToken  // CSRF token'ı header'a ekliyoruz
        }
            })
            .then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error(error));
        }*/
        function updateFileName(input) {
        let fileName = input.files.length > 0 ? input.files[0].name : "No file chosen";
        document.getElementById(input.id + "_name").textContent = fileName;
    }


        function uploadAllFiles() {
        let studentList = document.getElementById("student_list").files[0];
        let examInstruction = document.getElementById("exam_instruction").files[0];
        let assignmentFile = document.getElementById("assignment_file").files[0];

        if (!studentList || !examInstruction || !assignmentFile) {
            alert("Lütfen tüm dosyaları seçin!");
            return;
        }


        // **Dosya uzantılarını kontrol et**
        if (!studentList.name.endsWith('.csv')) {
            alert("Öğrenci listesi sadece .csv formatında olmalıdır!");
            return;
        }

        if (!examInstruction.name.endsWith('.pdf')) {
            alert("Sınav talimatı sadece .pdf formatında olmalıdır!");
            return;
        }

        let allowedAssignmentExtensions = ['.py', '.java', '.c'];
        let assignmentExt = assignmentFile.name.split('.').pop().toLowerCase();
        if (!allowedAssignmentExtensions.includes(`.${assignmentExt}`)) {
            alert("Ödev dosyası sadece .py, .java veya .c formatında olmalıdır!");
            return;
        }




        let formData = new FormData();
        formData.append("student_list", studentList);
        formData.append("exam_instruction", examInstruction);
        formData.append("assignment_file", assignmentFile);

        let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch('/teacher/upload/', {
            method: 'POST',
            body: formData,
            headers: {
                "X-CSRFToken": csrfToken
            }
        })
        .then(response => response.json())
        .then(data => alert(data.message))
        .catch(error => console.error(error));
    }


        function startExam() {
            let time = document.getElementById("exam_time").value;
            let exam_name = document.getElementById("exam_name").value;
            let outputDirectory = document.getElementById("output_directory").value;


            if (!time || !exam_name) {
                alert("Lütfen sınav adı ve süresini girin.");
                return;
            }

            
            let chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            let password = "";
            for (let i = 0; i < 10; i++) {
                password += chars.charAt(Math.floor(Math.random() * chars.length));
            }

            let formData = new FormData();
            formData.append("time", time);
            formData.append("exam_name", exam_name);
            formData.append("exam_password", password);

            let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch('/teacher/start_exam/', {
                method: 'POST',
                body: formData,
                headers: {
                    "X-CSRFToken": csrfToken
                }
            })
            .then(response => response.json())
            .then(data => {
                alert("Sınav oluşturuldu!\nSınav Şifresi: " + password);
            })
            .catch(error => console.error(error));
        }

    </script>
</body>
</html>