<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/student/exam_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Lexend+Deca:wght@300&family=Nova+Square&family=Unbounded&display=swap" rel="stylesheet"> 
    <title>Exam Page</title>
</head>
<body>
    <div class="header">
        <span><h2 style="text-align: center; font-family: Unbounded, serif;">Safe Code Provider | Exam Page </h2></span>
        <span class="timer">Time: 01:59:59</span>
    </div>
    <div class="container">
        <!-- Sol tarafta PDF talimatlarını gösterecek alan -->
        <div class="instruction">
            <h3>Exam Instructions</h3>
            <div class="instruction-content">
                <p>{{ pdf_text|linebreaks }}</p>
            </div>
        </div>
    
        <div class="editor">
            <textarea class="code-area" placeholder="Write your code here..."></textarea>
            <div class="output">Output will be displayed here...</div>
        </div>
    </div>
    

    <div class="footer">
        <button>Run</button>
        <button>Submit</button>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let timeLeft = JSON.parse('{{ exam_time|escapejs }}') * 60;  // Güvenli JSON dönüşümü
    
            function updateTimer() {
                let minutes = Math.floor(timeLeft / 60);
                let seconds = timeLeft % 60;
                document.querySelector(".timer").innerText = `Time: ${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
                if (timeLeft > 0) {
                    timeLeft--;
                    setTimeout(updateTimer, 1000);
                }
            }
    
            updateTimer();
        });
    </script>
</body>
</html>
