<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/student/exam_page.css">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Exam Page</title>
  <style>
    /* Şık geçiş efektiyle tam ekran modunda editör */
    .editor-fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      z-index: 1000;
      background: white;
      transition: all 0.3s ease;
    }
    .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

/* Sol taraf (PDF alanı) */
.instruction {
    flex: 1; /* 1 oranında yer kaplayacak */
    background: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #ddd;
}

/* Sağ taraf (Editör ve çıktı alanı) */
.right-panel {
    flex: 2; /* 2 oranında yer kaplayacak */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Editör */
.editor {
    border: 1px solid #ccc;
}

/* Çıktı Alanı */
#output {
    height: 200px;
    background: #222;
    color: #fff;
    padding: 15px;
    overflow-y: auto;
}

/* Butonlar */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background: #0056b3;
}

  </style>
</head>
<body>
    <div class="navbar">
        <h2 style="text-align: center; font-family: Unbounded, serif;">Safe Code Provider | Exam Panel <span style="margin:0 0 auto" id= "timer">01:59:59</span></h2>
        
        </div>

  <div class="container">
      <!-- Sol tarafta PDF slaytlarını gösterecek alan -->
      <div class="instruction" >
          <h3>Exam Instructions</h3>
          <div class="instruction-content" id="pdf-container" >
              <!-- PDF.js ile her sayfa için canvas eklenecek -->
          </div>
      </div>
        <!-- Sağ tarafta kod editörü ve çıktı alanı -->
      <div class="right-panel" >
            <div class="editor" id="editor-container" >
                <!-- Monaco editörü için konteyner -->
                <div id="monaco-editor" style="width: 100%; height: 100%;"></div>
                <!-- Büyüt/Küçült düğmesi -->
                <button id="toggle-btn" style="position: absolute; top: 10px; right: 10px; z-index: 1100;">Büyüt</button>
            </div>
            <div id="output"style="padding:30px;height:200px">Output will be displayed here...</div>

            <div class="buttons">
                <button id="runButton" onclick="saveCode()">Run</button>
                <button id="submitButton" onclick="RUSure()">Submit</button>
            </div>
      </div>
      
  </div>

  


  <div id="rusure">
    <h2>Are You sure to submit?</h2>
      <button id="rusyesbutton" onclick="submitCode()">YES</button>
      <button id="rusnobutton" onclick="RUSurno()">NO</button>
  </div>
  <footer style="font-family: Unbounded, serif;">
    <p style="font-family: Unbounded, serif;">CommonCodeBase</p>
</footer>

  <!-- Zamanlayıcı -->
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          let timeLeft = JSON.parse('{{ exam_time|escapejs }}') * 60;
  
          function updateTimer() {
              let minutes = Math.floor(timeLeft / 60);
              let seconds = timeLeft % 60;
              document.querySelector(".timer").innerText = `Time: ${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
              if (timeLeft > 0) {
                  timeLeft--;
                  setTimeout(updateTimer, 1000);
              }
          }
  
          updateTimer();
      });
  </script>
  
  <!-- PDF.js Kütüphanesi -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
  <script>
      var pdfUrl = '{{ pdf_url }}';
      if (pdfUrl) {
          var pdfjsLib = window['pdfjs-dist/build/pdf'];
          pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.worker.min.js';
          
          pdfjsLib.getDocument(pdfUrl).promise.then(function(pdf) {
              var pdfContainer = document.getElementById('pdf-container');
              // Tüm sayfaları render et
              for (let pageNum = 1; pageNum <= pdf.numPages; pageNum++) {
                  pdf.getPage(pageNum).then(function(page) {
                      var scale = 1.5;
                      var viewport = page.getViewport({ scale: scale });
                      var canvas = document.createElement('canvas');
                      canvas.style.width = '100%';
                      canvas.style.marginBottom = '10px';
                      var context = canvas.getContext('2d');
                      canvas.height = viewport.height;
                      canvas.width = viewport.width;
                      var renderContext = {
                          canvasContext: context,
                          viewport: viewport
                      };
                      page.render(renderContext);
                      pdfContainer.appendChild(canvas);
                  });
              }
          }).catch(function(error) {
              console.error('PDF yüklenirken hata oluştu: ' + error);
          });
      } else {
          console.error("PDF URL bulunamadı.");
      }
  </script>
  
  <!-- Monaco Editor CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/loader.js"></script>
  <script>
      require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs' }});

      var editor;

      require(['vs/editor/editor.main'], function() { // exam_type değerini kullanarak dil belirliyoruz.
          var langMap = {
              'py': 'python',
              'java': 'java',
              'c': 'c'
          };
          var editorLanguage = langMap['{{ exam_type }}'] || 'plaintext';
  
          editor = monaco.editor.create(document.getElementById('monaco-editor'), {
              value: `{{ assignment_content|escapejs }}`,
              language: editorLanguage,
              theme: "vs-dark"  // Koyu tema eklendi


          });
  
          // Toggle butonu için orijinal stil bilgilerini saklayalım
          var toggleBtn = document.getElementById('toggle-btn');
          var editorContainer = document.getElementById('editor-container');
          var isFullscreen = false;
  
          // Orijinal stil ayarlarını saklayalım
          var originalStyle = {
              position: editorContainer.style.position || '',
              top: editorContainer.style.top || '',
              left: editorContainer.style.left || '',
              width: editorContainer.style.width || '',
              height: editorContainer.style.height || ''
          };
  
          toggleBtn.addEventListener('click', function() {
              if (!isFullscreen) {
                  editorContainer.classList.add('editor-fullscreen');
                  toggleBtn.textContent = 'Küçült';
              } else {
                  editorContainer.classList.remove('editor-fullscreen');
                  // Orijinal stil bilgilerini geri yükle
                  editorContainer.style.position = originalStyle.position;
                  editorContainer.style.top = originalStyle.top;
                  editorContainer.style.left = originalStyle.left;
                  editorContainer.style.width = originalStyle.width;
                  editorContainer.style.height = originalStyle.height;
                  toggleBtn.textContent = 'Büyüt';
              }
              isFullscreen = !isFullscreen;
              editor.layout();
          });
      });

      function saveCode() {
        const code = editor.getValue();
        let student_id = localStorage.getItem("student_id"); 
        let student_name = localStorage.getItem("student_name"); 

        console.log("student_id:", student_id);
        console.log("student_name:", student_name);

        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch("/save_code/", {
            method: "POST",
            headers: { 
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({
                student_id: student_id, 
                student_name: student_name, 
                code: code })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.status === "success") {
                runCode(student_id, student_name);  
            }
        })
        .catch(error => console.error("Kod kaydedilirken hata oluştu:", error));
    }   
    
    function runCode(student_id, student_name) {
        console.log(`Container çalıştırılıyor: ${student_id}-${student_name}-container`);
        
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    
        fetch("/run_code/", {
            method: "POST",
            headers: { 
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({
                student_id: student_id,
                student_name: student_name
            })
        })
        .then(response => response.json())
        .then(data => {
            
            console.log("Çalıştırma Sonucu:", data);

    let outputText = "";

    try {
        // JSON formatında olduğundan emin ol
        const jsonData = typeof data === "string" ? JSON.parse(data) : data;
        outputText = jsonData.output || "Kod çalıştırılırken hata oluştu.";
    } catch (error) {
        console.error("JSON dönüşüm hatası:", error);
        outputText = "Çıktı alınamadı. Sunucu hatası!";
    }

    // Terminal çıktısını frontend'de göster
    document.getElementById("output").innerText = outputText;
        })
        .catch(error => {
            console.error("Kod çalıştırılırken hata oluştu:", error);
            document.getElementById("output").innerText = "Sunucu hatası!";
        });
    }

    function submitCode() {
        const code = editor.getValue();
        let student_id = localStorage.getItem("student_id"); 
        let student_name = localStorage.getItem("student_name"); 

        console.log("student_id:", student_id);
        console.log("student_name:", student_name);

        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch("/save_code/", {
            method: "POST",
            headers: { 
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({
                student_id: student_id, 
                student_name: student_name, 
                code: code })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.status === "success") {
                deleteDocker(student_id,student_name)
            }
        })
        .catch(error => console.error("Kod kaydedilirken hata oluştu:", error));
    }

    function deleteDocker(student_id,student_name) { 

        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch("/delete_docker/", {
            method: "POST",
            headers: { 
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({
                student_id: student_id, 
                student_name: student_name})
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.status === "success") {
                alert("game over.")
            }
        })
        .catch(error => console.error("Kod kaydedilirken hata oluştu:", error));
    }

    function RUSure(){
        document.getElementById("rusure").style.display = "block";
    }

    function RUSurno() {
        document.getElementById("rusure").style.display = "none";
    }


  </script>
</body>
</html>